@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50;
}

*,
:root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

/* Homepage */
/* Hero Font */
.cormorant {
  font-family: var(--font-cormorant);
}

/* Custom Hero Image Object Position */
.hero-image-position {
  object-position: 50% 30%;
}

/* Filled Icon */
.filled-icon,
.heart-icon:hover {
  fill: #e09c7f;
  color: #e09c7f;
}

/* Navbar - Searchbar */
.search-icon {
  cursor: pointer;
  transition: width 0.5s ease;
}

.search-input {
  width: 0;
  visibility: hidden;
  transition: width 0.5s ease, visibility 0s 0.5s;
}

.search-input.expanded {
  width: 100%; /* or any specific width */
  visibility: visible;
  transition: width 0.5s ease;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e09c7f;
  border-radius: 10px;
}

/* Hide scrollbar for WebKit-based browsers */
.no-scrollbar::-webkit-scrollbar,.menu-no-scrollbar::-webkit-scrollbar {
  display: none; /* This will hide the scrollbar in WebKit browsers */
}

/* Hide scrollbar for Firefox */
.no-scrollbar, .menu-no-scrollbar {
  scrollbar-width: none; /* This will hide the scrollbar in Firefox */
  -ms-overflow-style: none; /* This is for Internet Explorer 10+ */
}
